<script>
    $('body').attr('id','pizza')
</script>

<h3 class="center white">All Lists</h3>
<div class="list-container">
  <div class="panel-group" id="accordion">
    <% @lists.each do |list| %>
      <div class="panel panel-default">
        
          <div class="panel-heading">
            <h4 class="panel-title inline">
              <a href="/lists/<%= list.id %>"><%= list.title %></a>
            </h4>
            <a class="plus-minus-toggler" data-toggle="collapse" data-parent="#accordion" href="#<%= list.id %>">
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </a>
          </div>
          
        <div id="<%= list.id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <%= list.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>