<div class="list-container">
  <% if current_user && current_user.id == @list.creator.id %>
    <a href="/lists/<%= @list.id %>/edit"><button class="btn btn-primary">Edit list</button></a>
    <a href="/lists/<%= @list.id %>/delete"><button class="btn btn-primary">Delete list</button></a>
  <% end %>
  <div class="list-info white">
    <%= erb :'lists/_details', locals: {list: @list} %>
  </div>

  <div class="center">
    <div class="center white">
      Filter
    </div>
    <div id="filter-buttons" class="btn-group" role="group">
      <button id="filter-complete" type="button" class="btn btn-default">Completed</button>
      <button id="filter-all" type="button" class="btn btn-default">All</button>
      <button id="filter-incomplete" type="button" class="btn btn-default">Incomplete</button>
    </div>
  </div>

  <div class="panel-group" id="accordion">
    <% @lists_places.each do |lists_place| %>
      <% place = lists_place.place %>
      <%= erb :'places/_place_template', locals: { place: place, lists_place: lists_place } %>
    <% end %>
  </div>

  <% if current_user && current_user.id = @list.creator.id %>
    <%= erb :'/places/_add_new_template' %>
  <% end %>

</div>

