<div class="panel single-place <%= lists_place.complete == true ? "panel-success" : "panel-default" %>" data-id="<%= lists_place.id%>">
  <div class="panel-heading">
    <h4 class="panel-title inline"><%= place.name %>
    </h4>
    <% if place.neighborhood != "" %>
        (<%= place.neighborhood %>)
    <% end %>
    <div class="panel-buttons">
      <a class="plus-minus-toggler" data-toggle="collapse" data-parent="#accordion" href="#<%= lists_place.id %>">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </button>
      </a>
      <% if current_user && current_user.id = lists_place.user_id %>
        <a class="complete-item" href="/lists_places/complete/<%= lists_place.id %>">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </a>
        <a class="delete-item" href="/lists_places/delete/<%= lists_place.id %>">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </a>
      <% end %>
    </div>
  </div>
  <div id="<%= lists_place.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <p><span class="bold">Address: </span><%= place.address %>, <%= place.city %>, <%= place.state %>, <%= place.zip %></p>
      <p><span class="bold">Phone: </span><%= place.phone_number %></p>
      <% if place.website != "" %>
        <p><span class="bold">Website: </span><a href="<%= place.website %>">Link to site</a></p>
      <% end %>
      <p><span class="bold">Link to Map: </span><a href="<%= place.google_maps_url %>">Link to Google Maps</a></p>
      <% if lists_place.description != "" %>
        <p><span class="bold">My notes: </span><%= lists_place.description %></p>
      <% end %>
    </div>
  </div>
</div>